/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

div nav {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    width: 100%;
    padding: 10px 0px 10px;
    margin: 5px 0px 8px;
    flex-direction: row;
    justify-content: space-evenly;
    border-bottom: 1px solid white;
    margin-bottom: 1.5em;
    align-items: baseline;
}  

nav a {
    text-decoration: none;
    color: white;
    font-size: 1.1em;
    font-family: Abril Fatface, sans-serif;
}

nav a:hover {
    color: rgb(249, 208, 168);
    transition: .3s;
    transform: translateY(-0.1em);
    
}

nav a:active {
    background-color: rgb(44, 0, 0);
    transition: 0.1s;
}

#logo {
    font-family: Permanent Marker, sans-serif;
    font-size: 1.8em;
}

#logo:hover {
    color: rgb(230, 107, 132);
    transition: .4s;
    transform: translateY(-0.1em);
}

html {
    font-family: Open Sans, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: black;
    margin-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.subscription-table {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 15px 25px;
    width: 100%;
    max-width: 960px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
}

.subscription-plan {
    border-bottom: 1px solid rgb(249, 208, 168);
}

.subscription-plan:last-child {
    border-bottom: none;
}

.subscription-image {
    margin-bottom: 25px;
    /* padding-top: 10px; */
    width: 30%;
    max-width: 100%;
}


.is-too-big {
    width: 20%;
}

 
.subscription-header {
    color: orange;
    font-weight: 700;
    font-size: 17px;
    letter-spacing: 1px;
}

.subscription-features {
    color: rgb(255, 197, 127);
    margin: 50px 0 25px;
}

.subscription-features-item {
    font-weight: 600;
    padding: 15px 0;
    border-top: 1px solid rgb(250, 194, 137);
    letter-spacing: 1px;
    font-size: 12px;
    line-height: 1.5;
}

.subscription-features-item:last-child {
    border-bottom: 1px solid rgb(251, 201, 151);
}

.subscription-price {
    color:rgb(139, 124, 251);
    display: block;
    font-size: 30px;
    font-weight: 700;
}

.subscription-button {
    text-decoration: none;
    border: 1px solid orange;
    border-radius: 0.7em;
    display: inline-block;
    color: orange;
    padding: 15px 35px;
    margin: 25px 0;
    transition: .2s ease-in-out;
}

.is-featured {
    background-color: rgb(254, 183, 50);
    color: white;
    transition: .2s ease-in-out;
}

.subscription-button:hover, .subscription-button:focus {
    background-color: rgb(253, 187, 65);
    color: white;
}

.is-featured:hover, .is-featured:focus {
    background-color: rgb(255, 166, 0);
}

@media (min-width: 900px) { 
    .subscription-table {
        flex-direction: row;
    } 
    .subscription-plan {
        border-bottom: none;
        border-right: 1px solid rgb(255, 221, 159);
        padding: 25px 50px;
    }
    .subscription-plan:last-child {
        border-right: none; 

    }

    .is-what-it-is {
        width: 72.2%;
    }

    .is-not-big-enough {
        width: 100.1%
    }
    
    .is-too-big {
        width: 49.1%;
    }
}

